@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* IMPORTANT */
}

/* Background image moved here */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('./waterfall_cliff_stone_141850_3840x2400.jpg') center/cover no-repeat;
    filter: brightness(0.65);   /* Apply brightness ONLY to background */
    z-index: -1;               /* Keep it behind everything */
}



.quote-container{
   width: 100%;
   max-width: 600px;
   background:transparent;
   backdrop-filter: blur(15px) ;
   padding: 1rem;
   border-radius:1rem;
   position: relative;
}

.quote-icon{
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 99;
    color: white;
}

.quote-content{
    position: relative;
    margin-top: 10px;
    margin-left: 6px;
    padding: 1rem;
    color: white;
}

.fa-quote-left{
    font-size: 2.5rem;
}

#quote-info{
padding-top: 20px;
font-size: 18px;
}
#author{
    text-align: right;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.others{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
}

.share-social a{
    text-decoration: none;
}

.social{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 0.7rem;
    border: none;
    transition: transform 0.2s;
}
.social:hover{
    transform: translateY(-2px);
}

#quote-btn{
    background-color: #01520B;
    color: white;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-size:1rem;
    cursor: pointer;
}
#quote-btn:hover{
transform: translateY(-2px);
box-shadow: 0 3px 6px rgba(26, 234, 99, 0.3);
}
